enabled = True
path_suffix = {{ diamond_collector_CPU_path_suffix }}
ttl_multiplier = {{ diamond_collector_CPU_ttl_multiplier }}
measure_collector_time = {{ diamond_collector_CPU_measure_collector_time }}
byte_unit = {{ diamond_collector_CPU_byte_unit }}
simple = {{ diamond_collector_CPU_simple }}
normalize = {{ diamond_collector_CPU_normalize }}
percore = {{ diamond_collector_CPU_percore }}
