enabled = True
path_suffix = {{ diamond_collector_DiskUsage_path_suffix }}
ttl_multiplier = {{ diamond_collector_DiskUsage_ttl_multiplier }}
byte_unit = {{ diamond_collector_DiskUsage_byte_unit }}
measure_collector_time = {{ diamond_collector_DiskUsage_measure_collector_time }}
devices = {{ diamond_collector_DiskUsage_devices }}
sector_size = {{ diamond_collector_DiskUsage_metrics_sector_size }}
send_zero = {{ diamond_collector_DiskUsage_metrics_send_zero }}

{% if diamond_collector_DiskUsage_metrics_whitelist|length %}
metrics_whitelist = ".*\.({{ diamond_collector_DiskUsage_metrics_whitelist | join('|') }})"
{% endif %}
