enabled = {{ diamond_collector_LibvirtKVM_enabled }}
path = {{ diamond_collector_LibvirtKVM_path }}
ttl_multiplier = {{ diamond_collector_LibvirtKVM_ttl_multiplier }}
measure_collector_time = {{ diamond_collector_LibvirtKVM_measure_collector_time }}
byte_unit = {{ diamond_collector_LibvirtKVM_byte_unit }}
format_name_using_metadata = "{{ diamond_collector_LibvirtKVM_format_name_using_metadata }}"
