enabled = True
byte_unit = {{ diamond_collector_LoadAverage_byte_unit }}
measure_collector_time = {{ diamond_collector_LoadAverage_measure_collector_time }}
path_suffix = {{ diamond_collector_LoadAverage_path_suffix }}
simple = {{ diamond_collector_LoadAverage_simple }}
ttl_multiplier = {{ diamond_collector_LoadAverage_ttl_multiplier }}
