enabled = True
path_suffix = {{ diamond_collector_Memory_path_suffix }}
ttl_multiplier = {{ diamond_collector_Memory_ttl_multiplier }}
byte_unit = {{ diamond_collector_Memory_byte_unit }}
measure_collector_time = {{ diamond_collector_Memory_measure_collector_time }}
detailed = {{ diamond_collector_Memory_detailed }}
metrics_whitelist = {{ diamond_collector_Memory_metrics_whitelist }}
