enabled = True
path_suffix = {{ diamond_collector_Network_path_suffix }}
ttl_multiplier = {{ diamond_collector_Network_ttl_multiplier }}
byte_unit = {{ diamond_collector_Network_byte_unit }}
measure_collector_time = {{ diamond_collector_Network_measure_collector_time }}
interfaces = {{ diamond_collector_Network_interfaces | join(", ") }}
greedy = {{ diamond_collector_Network_greedy }}
metrics_whitelist = {{ diamond_collector_Network_metrics_whitelist }}
