enabled = True
path_suffix = {{ diamond_collector_VMStat_path_suffix }}
ttl_multiplier = {{ diamond_collector_VMStat_ttl_multiplier }}
byte_unit = {{ diamond_collector_VMStat_byte_unit }}
measure_collector_time = {{ diamond_collector_VMStat_measure_collector_time }}
